<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/shortcut/shortcut.png" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/icon_192x192.png"/>
    <link rel="manifest" href="manifest.json">
    <meta name="description" content="Cardozo Resto provide information about list of restaurants." />
    <meta name="keywords" content="Cardozo list" />
    <meta name="theme-color" content="#000080"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Cardozo List</title>
<body>
<a href="#maincontent" class="skip-link">Menuju ke konten</a>
<header>
    <div>
        <a href="/" class="offcanvasonhp">
            Cardozo List
        </a>
    </div>
    <button aria-label="showmenu" id="hamburger" href="#">☰</button>
    <nav-bar></nav-bar>
</header>
<hero-catalog></hero-catalog>
<main id="maincontent">
</main>
<footer-catalog></footer-catalog>
</body>
</html>
