/*
 * post
 */

 .posts {
    margin: 32px auto auto;
    overflow: auto;
}

/*
 * post item
 */

.post-item {
    display: grid;
    margin: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: #c4e3cb;
}

.post-item__content {
    padding: 16px 32px 32px 32px;
}

.post-item__thumbnail {
    width: 100%;
    max-height: 600px;
}

.post-item__rating {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background-color: #1a3c40;
    width: 100%;
    border-radius: 30px;
    font-family: "Yannone Kaffeesatz", sans-serif;
}

.post-item__date__author {
    color: red;
    text-decoration: none;
}

.post-item__title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
    background-color: white;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
}

.post-item__titleresto {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
    background-color: #1a3c40;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
}

.post-item__title:hover {
    opacity: 0.5;
}

.post-item__title a {
    text-decoration: none;
    color: inherit;
    height: 60px;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding-top: 12px;
}

.post-item__description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
    text-align: justify;
}

.post-img {
    width: 200px;
    height: 120px;
}

.img_post {
    padding: 25px 25px 0px 25px;
}
